

.limiter{
    background-image: url('/assets/images/bg-01.jpg') ;
    /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
wrap-login100 {

  width: 400px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  float: left;
  position: relative;

}

