<!--ToolBar.-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!--  <span>HOME</span> -->
        <span><a id="home" style="text-decoration:none" href="/">HOME</a></span>
        <span class="spacer"></span>
        <a mat-button routerLink="/register">Register</a>
        <a mat-button routerLink="/login">Login</a>
    </mat-toolbar-row>
</mat-toolbar>

<!--Login-->
<mat-card style="width:400px; margin: 0 auto; text-align: center;" class="example-card" >

    <mat-card-header style="width: 100% ;margin: auto;">

        <mat-card-title  >Login</mat-card-title>

    </mat-card-header>

    <mat-card-content style="width: 100%">

        <form class="example-form" >

            <table class="example-full-width" cellspacing="0" >

                <tr>

                    <td>

                        <mat-form-field class="example-full-width" >

                            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>

                        </mat-form-field>

                    </td>

                </tr>

                <tr>

                    <td>
                        <mat-form-field class="example-full-width">

                            <input matInput placeholder="Password" [(ngModel)]="password" type="password"
                                name="password" required>

                        </mat-form-field>
                    </td>

                </tr>
            </table>

        </form>

        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>

    </mat-card-content>

    <mat-card-actions>

        <button mat-raised-button (click)="login()" color="primary">Login</button>

    </mat-card-actions>

</mat-card>