

.limiter{
    background-image: url('/assets/images/bg-01.jpg') ;
    /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login100-form validate-form{
    border: 3px;
    margin: 8px 0;
}