	<div class="limiter">
	  <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
	    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
	      <form class="login100-form validate-form">
	        <span class="login100-form-title p-b-49">
	          VIETTEL SSO
	        </span>

	        <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
	          <span class="label-input100">Tên đăng nhập</span>
	          <input [(ngModel)]="username" class="input100" type="text" name="username" placeholder="Mã nhân viên/Email">
	          <span class="focus-input100" data-symbol="&#xf206;"></span>
	        </div>

	        <div class="wrap-input100 validate-input" data-validate="Password is required">
	          <span class="label-input100">Mật khẩu</span>
	          <input [(ngModel)]="password" class="input100" type="password" name="pass" placeholder="Mật khẩu">
	          <span class="focus-input100" data-symbol="&#xf190;"></span>
	        </div>

			<div class="text-left p-t-10 p-b-20 " style="width: 50%;float: left;">
				<a style="text-decoration: none;" target="_blank" href="/">Đổi mật khẩu</a>
			</div>
	        <div class="text-right p-t-8 p-b-31">
	          <a style="text-decoration: none;" href="#">
	            Quên mật khẩu?
	          </a>
	        </div>

	        <div class="container-login100-form-btn">
	          <div class="wrap-login100-form-btn">
	            <div class="login100-form-bgbtn">

				</div>
	            <button (click)="login()" class="login100-form-btn">
	              ĐĂNG NHẬP
	            </button>
	          </div>
	        </div>

			<div class="txt1 text-center p-t-20 p-b-15">
				<span>Sử dụng xác thực đa nhân tố</span>
			</div>
			<div class="flex-c-m">
				<a target="_blank" href="/" style="text-decoration: none;" class="login100-social-item bg3"> 
					<i class="fa fa-google"></i>
				</a>
			</div>
	      </form>
	    </div>
	  </div>
	  
	  <!--footer-->
	  <div id="footer" class="pos-absolute float-l left-0 w-full bottom-0">
	    <div class="container-fluid">
	      <div class="row">
	        <div class="col-md-3 col-xs-2 borderFooter">
	          <div class="contentFooter">
	            <p></p>
	          </div>
			</div>
			<div class="col-md-6 col-xs-8 borderFooter">
				<div class="contentFooter" id="authority">
					<p class="fs-12 w-full text-center text-white">© 2019 Phát triển bởi Trung tâm Phần mềm Quản trị - Ban CNTT</p>
					<p class="fs-12 w-full text-center text-white">Bản quyền thuộc Tập đoàn Công nghiệp - Viễn thông Quân đội Viettel</p>
				</div>
			</div>
			<div style="text-align: right;" class="col-md-3 col-xs-2 flagFooter float-r">
				<div class="flagFooter">
					<ul>
						<a href="nulllocale=vi"> <img
							src="/assets/images/index.png" alt="" /></a>
						<a href="nulllocale=uk"> <img
							src="/assets/images/index1.png" alt=""></a>
						<a href="nulllocale=fr"> <img
							src="/assets/images/index2.png" alt=""></a>
						<a href="nulllocale=es"> <img
							src="/assets/images/index3.png" alt=""></a>
						<a href="nulllocale=pt_PT"> <img
							src="/assets/images/index4.png" alt=""></a>
					</ul>
				</div>
			</div>
	      </div>
	    </div>
	  </div>
	  


	</div>